* {
	box-sizing: border-box;
	max-width: 100%;
	/* overflow: hidden; */
	border: 3px red solid;
}
body {
}
/* header */

header {
	height: 90vh;
	width: 100%;
}

nav {
	display: flex;
	justify-content: space-between;

	height: 10%;
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
}

/* h1 */
.nav-name {
	display: flex;
	justify-content: flex-start;
	font-size: 2.5rem;
	font-weight: bold;
	width: 100%;
	overflow: hidden;
	align-self: center;
	align-items: center;
}

/* buttons */
.nav-buttons {
	display: flex;
	justify-content: flex-end;
	width: 50vw;
	align-items: center;
	padding-right: 1%;
}

.nav-buttons button {
	width: 15%;
	height: 55%;
}

.hero {
	display: flex;
	justify-content: center;
}

/* end of nav */

.header-position {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 90vh;
	margin-bottom: 10%;
}

/* img div */
.header-img {
	display: flex;
	justify-content: center;
	border: 3px double gray;

	height: 100%;
	width: 80%;
	background-image: url(https://picsum.photos/400);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: off;
}

.header-img img {
	height: 100%;
	width: 100%;
}
/* text and button */
.header-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	justify-items: center;
}

.header-content h1 {
	display: flex;
	justify-content: center;
	align-self: center;
	font-size: 6rem;
	color: white;
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header-content button {
	display: flex;
	justify-content: center;
	align-self: center;
	text-align: center;
	width: 48%;
	height: 8%;
	padding-top: 2.5%;
}

/* main portfoili */

.main-content-div {
	display: flex;
	justify-content: space-evenly;
	align-content: space-evenly;
	height: 90vh;
	width: 99%;
	border: 3px solid black;
	margin: 8% 1% 0 1%;
	flex-flow: row wrap;
}

.img-and-text {
	display: flex;
	justify-content: space-evenly;
	height: 50%;
	width: 29%;
	flex-flow: row wrap;
}

.content-img,
content-img img {
	height: 75%;
	width: 100%;
}

/* footer */
